@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Work+Sans:wght@400;700&family=DM+Sans:wght@400;500&family=Space+Grotesk:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; /* Default font for the whole page */
  font-weight: 400;
  color: #333; /* Restoring original dark color */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app-bg overflow-x-hidden;
  }

  blockquote {
    @apply text-app-cadet font-bold tracking-wide relative italic leading-relaxed;
    font-family: 'Space Grotesk', sans-serif; /* Modern font for quotes */
    font-size: 1.25rem;
    @apply before:absolute before:text-app-cadet/40 before:text-5xl md:before:text-6xl before:w-16 before:h-16 before:-left-14 lg:before:-left-20 -top-2 md:before:-top-4 before:content-['\201C'];
    @apply after:absolute after:text-app-cadet/40 after:text-5xl md:after:text-6xl after:w-16 after:h-16 after:-right-24 lg:after:-right-24 after:-bottom-12 after:content-['\201D'];
  }

  cite {
    @apply text-app-cadet font-app-main text-sm md:text-base lg:text-lg font-bold relative right-2 md:right-4 lg:right-12 -bottom-8;
    font-size: 0.875rem;
  }
}

@layer components {
  .basic-transition {
    @apply transition-all duration-300 ease-in-out;
  }

  .double-transition {
    @apply transition-all duration-500 ease-in-out;
  }

  .svg-icon-group {
    @apply stroke-app-cadet basic-transition group-hover:stroke-app-flame group-hover:scale-125;
  }

  .title-text {
    @apply before:block before:absolute before:top-1/2 before:w-[40px] md:before:w-[60px] lg:before:w-[70px] before:h-[3px] before:-left-16 md:before:-left-20  lg:before:-left-24  before:bg-app-flame before:content-[' '];
    @apply after:block after:absolute after:top-1/2 after:w-[40px] md:after:w-[60px] lg:after:w-[70px] after:h-[3px] after:-right-16 md:after:-right-20  lg:after:-right-24 after:bg-app-flame after:content-[' '];
  }

  .pagination-buttons {
    @apply bg-white text-[9px] xs:text-[13px] md:text-sm lg:text-[15px] text-app-cadet font-bold font-app-main px-[6px] xs:px-[10px] md:px-3 py-[2px] xs:py-[3px] md:py-1 rounded-md text-center ring-2 ring-app-cadet md:hover:bg-app-cadet md:hover:text-white active:scale-95 basic-transition;
  }

  .bg-image {
    @apply bg-cover bg-[url('https://i.imgur.com/nksYEBa.jpg')] relative overflow-hidden;
    @apply before:content-[' '] before:block before:blur-[10px] before:absolute before:left-0 before:top-0 before:bg-[#000] before:opacity-80 before:h-full before:w-full z-[1];
  }
}
